.intro-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically */
  padding-top: 15vh;
  gap: 2.5rem;
}

.head-text {
  width: 80%;
  text-align: center; /* Align text center */
  font-size: 3rem;
  line-height: 1.2; /* Set line height to accommodate three lines */
}

.intro-desc {
  font-weight: 200;
  font-size: 1.5rem;
  margin-top: -2rem;
  width: 100%;
  text-align: center;
  line-height: 1.5; /* Set line height to accommodate two lines */
}


.get-started-btn {
  background-color: var(--color-text);
  color: var(--color-bg);
  height: 2.5rem;
  width: 10rem;
  border-radius: 5px;
  text-align: center;
}

.get-started-btn:hover {
  filter: brightness(0.8);
}

.get-started-btn:active {
  filter: brightness(0.6);
}
